CREATE DATABASE [GTA_SEL1_TRDMIN_201610]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GTA_SEL1_TRDMIN_201610', FILENAME = N'E:\Microsoft SQL Server\Instances\MSSQL11.MSSQLSERVER\MSSQL\DATA\GTA_SEL1_TRDMIN_201610.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GTA_SEL1_TRDMIN_201610_log', FILENAME = N'E:\Microsoft SQL Server\Instances\MSSQL11.MSSQLSERVER\MSSQL\DATA\GTA_SEL1_TRDMIN_201610_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [GTA_SEL1_TRDMIN_201610]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [GTA_SEL1_TRDMIN_201610] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
